
.background{
    background: url('./join.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

.create{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    
    width: 256px;
    height: 56px;
    
    color: white;
   
    
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
   
}
